/* CalendarWidget.css */

.calendar-widget {
  width: 600px;
  background: #4aad78;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 6px 8px rgba(1, 59, 29, 0.2);
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Lisätty marginaali otsikon alle */
}

.calendar-header button {
  padding: 8px 16px; /* Lisätty padding napeille */
  border: none;
  border-radius: 5px;
  background-color: #f7f9f78b; /* Hieman vaaleampi tausta napeille */
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day-header {
  font-weight: bold;
  padding: 8px 0; /* Lisätty padding otsikoille */

}

.calendar-day {
  padding: 8px; /* Lisätty padding päiville */
  background: #f4f4f4b7;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
  text-align: center; /* Päivän numero keskelle */
  cursor: pointer; /* Lisätty kursori, jos halutaan klikattavuus */
}

.calendar-day:hover {
  background-color: #e0e0e0; /* Tausta muuttuu hoverilla */
}


.moon-phase {
  font-size: 10px;
  color: gray;
  margin-top: 5px; /* Lisätty marginaali kuun vaiheelle */
  display: flex;
  flex-direction: column; /* Kuun vaihe ja emoji allekkain */
  align-items: center; /* Keskitetään sisältö */
}

.moon-phase span {
  margin-left: 0; /* Poistetaan aiempi marginaali emojilta */
}

.current-month {
  font-size: 1.2em; /* Suurempi fonttikoko kuukaudelle */
  font-weight: bold;

}
.current-day {
  background-color: #c0d9af; /* Korostusväri nykyiselle päivälle */
  font-weight: bold; /* Esimerkiksi lihavoitu teksti */
}
.selected-day {
  background-color: #ffeb99; /* Vaalea keltainen tausta */
  border: 2px solid #ffcc00;
}
.calendar-links {
  position: absolute;
  right: -130px; /* Työntää linkit ulos kalenterin reunasta */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px; /* Väli linkkien välillä */
}

.calendar-link {
  background: #ffcc00;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 130px;
  border-radius: 0px 10px 10px 0px; /* Pyöristys vasemmalle puolelle */
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-link:hover {
  transform: translateX(-10px); /* Työntää linkkiä näkyvämmäksi hoverilla */
}

.list-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background: #fff;
  padding: 10px;
  border-left: 3px solid #ffcc00;
  position: absolute;
  right: 100%;
  top: 0;
}

.list-container.open {
  max-height: 200px; /* Riittävä tila listalle */
}

.list-container ul {
  padding: 10px;
  margin: 0;
  list-style-type: none;
}

